* {
  font: 16px sans-serif;
}

body {
  display: flex;
  gap: 50px;
}

.goban-wrapper {
  background: #c80;
  padding: 40px 0 0 40px;
  display: inline-block;
}

.goban,
.goban * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 21px;
}

.goban {
  table-layout: fixed;
  border-collapse: collapse;
}

.goban td {
  border: 1px solid #fa0;
  text-align: center;
}

.goban td,
.goban th {
  min-width: 45px;
  width: 45px;
  min-height: 45px;
  height: 45px;
  line-height: 45px;
  transform: translate(-50%, -50%);
}

.goban th {
  color: #b70;
  text-shadow: -1px -1px 3px #fa0, 1px -1px 3px #fa0, -1px 1px 3px #fa0,
    1px 1px 3px #fa0;
}

.goban td:last-child,
.goban tr:last-child td {
  border: 0;
}

.goban input {
  border: 1px solid #fa0;
  width: 90%;
  height: 90%;
  background: rgb(128, 128, 128, 0.5);
  border-radius: 50%;
  outline: none;
  text-align: center;
  position: relative;
  z-index: 0;
  opacity: 0.3;
}

.goban input:hover {
  opacity: 0.7;
}

.goban input:focus,
.goban input.stone-black,
.goban input.stone-white {
  opacity: 1;
}

.goban input:focus {
  border: 2px dashed #f8a;
}

.goban input.stone-black {
  background: #224;
  color: #eed;
}

.goban input.stone-white {
  background: #eed;
  color: #224;
}

.others-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.others-wrapper input {
  width: 100%;
}

textarea {
  display: block;
  margin-top: 5px;
  padding: 4px 6px;
  resize: vertical;
}

tr[data-row='3'] td[data-col='3'],
tr[data-row='3'] td[data-col='9'],
tr[data-row='3'] td[data-col='15'],
tr[data-row='9'] td[data-col='3'],
tr[data-row='9'] td[data-col='9'],
tr[data-row='9'] td[data-col='15'],
tr[data-row='15'] td[data-col='3'],
tr[data-row='15'] td[data-col='9'],
tr[data-row='15'] td[data-col='15'] {
  outline: 1px solid #3338;
  border-radius: 50%;
}
